:root {
    --background-primary-color-light: #e2e2e2;
    --background-secondary-color-light: #272727;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: inherit;
    color: inherit;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    background-color: var(--background-primary-color-light);
}

.logo {
    font-size: 2.5em;
}

.icon-button {
    font-size: 2rem;
    background-color: transparent;
    border: none;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 2rem);
    right: 0;

    text-align: center;
    font-size: 2em;

    background-color: var(--background-primary-color-light);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
}

.menu-list {
    list-style: none;
}

.menu-list>li {
    padding: 1rem;
    font-size: 2rem;
    transition: background-color 0.25s;
}

.menu-list>li:hover {
    background-color: var(--background-secondary-color-light);
    color: white;
    transition: background-color 0.25s;
}

.dropdown>.toggle-menu:focus+.dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}